    <% @hotel.comments.each do |comment| %>
      <div class="comment">
        <span class="col-md-3"><%= comment.user %></span>
        <span class="col-md-9"><%= comment.comment %></span>
      </div>
    <% end %>


