/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */
 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
.comment {
	box-shadow: 1px 5px whitesmoke;
	border: 1px solid #ccc;
	position: relative;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
	font-size: 12px;
	min-height: 2em;
}
.hotels {margin: 60px;}
.hotel {
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid whitesmoke;
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
}

.add-hotel {
	width: 150px;
	height: 150px;
	background-color: whitesmoke;
	box-shadow: 1px 2px #ccc;
}
.navbar {margin: 0px;}
.hotel-plus {
	top: 53px;
	left: 58px;
	font-weight: 400;
	font-size: 40px;
}
.row {padding: 85px;}

 .form-signin {
 	max-width: 300px;
 	font-size: 14px;
 	padding: 19px 29px 29px;
 	margin: 40px auto 20px;
 	background-color: #fff;
 	border: 1px solid #e5e5e5;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
 	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 	box-shadow: 0 1px 2px rgba(0,0,0,.05);
 }
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
 	margin-bottom: 10px;
 }
 .form-signin input {
 	font-size: 16px;
 	height: auto;
 	margin-bottom: 15px;
 	padding: 7px 9px;
 }

