 <%= link_to 'New Hotel', new_hotel_path %>

<div class="row">
  <% @hotels.each do |hotel| %>
  <div class="col-lg-4">
    <img class="img-circle" src="<%= hotel.photo_url(:thumb) %>" alt="Generic placeholder image">
    <h2><%= hotel.title %></h2>
    <%= link_to 'Show', hotel, class: 'btn btn-primary' %>
  </div><!-- /.col-lg-4 -->
  <% end %>
</div><!-- /.row -->



